@using Bank.Service.Services;
@{
    ViewData["Title"] = "Main Page";
    var userService = new UserService();
    var result = await userService.GetAllAsync(x => x.Id > 0);
}
<div>
    <div class="pb-3">
        <a href="@Url.Action("Create","User")" style="font-size: 2rem; padding: 2rem 4rem;" class="btn btn-success">Create</a>
    </div>
    @foreach (var item in result)
    {
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="card-img" alt="..." height="150" width="150">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Ism</h5>
                        <div id="info-@item.Id" style="display:none;">
                            <p>Age: @item.Yoshi</p>
                            <p>Surname: @item.Familya</p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <form method="post" action="@Url.Action("Delete", "User")">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a href="@Url.Action("Update","User",new {id = item.Id})" class="btn btn-primary mr-2" >Update</a>
                            <button type="button" class="btn btn-info" onclick="toggleInfo(@item.Id)">Info</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toggleInfo(itemId) {
        var infoDiv = document.getElementById("info-" + itemId);
        if (infoDiv.style.display === "none") {
            infoDiv.style.display = "block";
        } else {
            infoDiv.style.display = "none";
        }
    }
</script>

